 body{
      background-color: rgb(72, 59, 180);
    }
    h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}
p {
  font-family: Tahoma;
  font-size: 20px;
}
p{
  color:azure;
  text-align : center;
}
h1{
  color: antiquewhite;
  text-align: center;
}
h2{
  color: antiquewhite;
  text-align: center;
}
h3{
  color: antiquewhite;
  text-align: center;
}
li{
  color: beige;
  text-align: center;
  font-size: 30px
}